/*
* body定義
*/
body {
    background-color: #FFFFFF;
    overflow: hidden;
    width:100%;
}
errorbody {
    background-color: red;
}
#wrapper {
    width:99%;
    height:100%;
    padding:0px;
}


/*
* ヘッダー、フッター共通定義
*/
#header,#businessBody,#footer {
    width: 100%;
    margin: 0px;
    padding: 5px auto;
    background-color: #66CCFF;
}

/*
* ヘッダー定義
*/
#header {
    top: 2px;
    height: 40px;
}
#headLeft {
    width:250px;
    text-align:left;
}
#headCenter {
    font-size: 24px;
    color: #FFFF00;
    width:100%;
    text-align:center;

}
#headRight {
    width:250px;
    text-align:right;
}
/*
* メニュー画面のボタン
*/
.menuBlock {
    margin-left:60px;
    float:left;
    text-align:center;
    padding:30px;
}

/*
* 業務body定義
*/
#businessBody {
    height: 82%;
    overflow: auto;
}

/*
* フッター定義
*/
#footer {
    bottom: 1%;
    height: 70px;
    width: 100%;
}
#footLeft {
    float:left;
    width:400px;
    text-align:left;
}
#footCenter {
    width:100%;
    text-align:center;
}
#footRight {
    float:right;
    width:400px;
    text-align:right;
}
/*
* エラーページ ヘッダー、フッター共通定義
*/
#errorHeader,#errorBusinessBody,#errorFooter {
    width: 100%;
    margin: 0px;
    padding: 5px;
    background-color: #FFA4C6;
}

/*
* エラーページ ヘッダー定義
*/
#errorHeader {
    top: 1%;
    height: 6%;
    text-align: center;
    font-size: 24px;
    color: #FFFF00;
}

/*
* エラーページ 業務body定義
*/
#errorBusinessBody {
    top: 8%;
    height: 80%;
    overflow: auto;
    font-weight: bold;
    color: black;
}

/*
* エラーページ フッター定義
*/
#errorFooter {
    bottom: 1%;
    height: 10%;
}

#resize{
	 transform: scale(0.95);
	 text-align: -webkit-center;
}

#left{
	margin-left:130px;
}

/*
* ボタンサイズ通常
*/
.smallButton {
    width: 100px;
    height: 30px;
}

/*
* ボタンサイズ大
*/
.bigButton {
    width: 200px;
    height: 50px;
}

/*
* ボタンサイズロング
*/
.longButton {
    width: 200px;
    height: 30px;
}


/*
* 戻るボタンのスタイル
*/
.backButton {
    top: 5px;
    left: 10px;
}

/*
* テーブルヘッダーのスタイル
*/
.tableHeader {
    background-color: #98FB98;
    font-weight: bold;
}

/*
* テーブルボディのスタイル
*/
.tableBody {
    background-color: #E0FFFF;
}
/*
* 文字色 黒
*/
.fontBlack {
    color: black;
}

/*
* 文字色 青
*/
.fontBlue {
    color: blue;
}

/*
* 文字色 赤
*/
.fontRed {
    color: red;
}

